<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ejemplo</title>
</head>
<!-- http://localhost:8080/spring-framework-mybatis/templates/ejemplo/html?RUT=ST18.699.827-8&NOMBRES=STByron%20Stevens&APELLIDOS=STVillegas%20Moya&EDAD=BY25 -->
<body>
<h1>RUT: ${RUT}</h1>
<h1>Nombres: ${NOMBRES}</h1>
<h1>Apellidos: ${APELLIDOS}</h1>
<h1>Edad: ${EDAD}</h1>
</body>

</html>